$color-white: #fff;
$color-gray: #808080;
$header-background: #a4c9ec;
$button-background: #2185d0;
$button-hover-background: #1678c2;
$color-error: #a92222;
$hobby-heading: #2c2d3c;
$hobby-description: #444;
