@import "sass/typography";
@import "sass/reset";
@import "sass/common";
@import "sass/mixins";
@import "sass/variables";

.header {
  font-family: "Source Sans Pro", sans-serif;
  color: $color-white;
  background-color: $header-background;
  height: 10vh;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  padding: 3vh 0;

  &__title {
    font-size: 3rem;
  }
}

.App {
  &__body {
    width: 100%;
    height: 90vh;
    padding-top: 3rem;
    font-family: "Source Sans Pro", sans-serif;
    background-image: url(/images/photo_2019-11-19_12-05-07.jpg);

    &:after {
      @include clearFix;
    }
  }

  &__user-column,
  &__hobby-column {
    @include column;
  }

  &__user-column {
    width: 35%;
  }

  &__hobby-column {
    width: 65%;
  }

  &__hobby-list {
    max-height: 70vh;
    overflow-y: scroll;
    padding: 0 1rem;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__form {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }

  &__input {
    @include input;
    margin-right: 0.5rem;
  }

  &__selection {
    font-size: 2rem;
    margin-top: 5rem;
  }
}

.btn {
  @include button;

  &--create {
    display: block;
    float: right;
    position: absolute;
    top: 1.5rem;
    right: 3rem;
  }

  &:hover {
    background-color: $button-hover-background;
  }
}

.Autocomplete {
  position: absolute;
  margin-top: 4rem;
  width: 30rem;
  background-color: white;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.3rem;
  z-index: 1;
  cursor: pointer;

  &__item {
    padding: 1.1rem;
  }
}
